@import 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css';
body {
  color: #333;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.4;
  margin: 0;
  padding: 0; }

a {
  color: #06A0E2;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
  padding: 0 30px; }

h1, h2, h3, h4, h5, h6 {
  color: #222;
  font-weight: 500;
  line-height: 1;
  margin-bottom: .66em;
  margin-top: 0; }

h1 {
  font-size: 2em; }

h2 {
  font-size: 2em;
  font-weight: 300; }

h3 {
  font-size: 1.25em; }

h4 {
  font-size: 1em; }

h5 {
  font-size: .85em; }

h6 {
  font-size: .75em; }

.page-body, .page-footer, .page-header {
  padding: 30px 0; }

.page-header {
  background-color: #06A0E2;
  color: #c1e7f8; }
  .page-header h1, .page-header h2, .page-header h3 {
    color: white; }
  .page-header p {
    font-size: 1.1em;
    margin: 0; }
  .page-header a {
    border-bottom: 1px solid fade(white, 30%);
    color: white;
    text-decoration: none; }
    .page-header a:hover, .page-header a:focus {
      border-bottom-color: white;
      outline: none;
      text-decoration: none; }

.page-subheader {
  background-color: #e6f6fc;
  line-height: 20px;
  padding: 30px 0; }

.page-subheader-button {
  float: right; }

.page-subheader-link {
  border-bottom: 1px solid fade(#06A0E2, 30%);
  outline: none;
  text-decoration: none; }
  .page-subheader-link:hover, .page-subheader-link:focus {
    border-bottom-color: #06A0E2;
    outline: none;
    text-decoration: none; }

.page-footer {
  background-color: #fafafa;
  color: #999;
  padding: 30px 0;
  text-align: center; }
  .page-footer a {
    color: black; }

:not(pre) > code[class*="language-"] {
  display: block;
  border: 1px solid #e1d7d1;
  border-radius: 3px;
  padding: .6em;
  overflow: auto; }

@media (min-width: 480px) {
  .page-body, .page-header {
    padding: 60px 0; }
  .page-header {
    font-size: 1.4em; }
  .page-subheader {
    font-size: 1.125em;
    line-height: 28px; } }

.clearfix:after {
  content: "";
  display: table;
  clear: both; }

.tabs [role=tablist] {
  margin: 0;
  padding: 0; }

.tabs [role=tab] {
  display: inline-block;
  border: 1px solid transparent;
  border-bottom: none;
  bottom: -2px;
  position: relative;
  list-style: none;
  padding: 6px 12px;
  cursor: pointer;
  position: relative; }

.tabs [role=tab][aria-selected=true] {
  background: #f5f2f0;
  border-color: #e1d7d1;
  border-radius: 5px 5px 0 0;
  font-weight: bold; }

.tabs [role=tab]:focus {
  outline: none; }

.page-header, .page-subheader {
  margin: 0; }

fieldset .form-group button {
  margin-right: 5px; }

select.placeholder {
  color: #999; }
